body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:black;
color:white;
padding:15px;
}

#search{
padding:8px;
width:200px;
}

.cart{
font-size:18px;
}

#products{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
margin-top:30px;
}

.product{
background:white;
padding:20px;
width:200px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
background:green;
color:white;
border:none;
padding:10px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:darkgreen;
}

.cart-title{
text-align:center;
margin-top:40px;
}

#cart-items{
list-style:none;
text-align:center;
}